# RentSafe Environment Configuration

# Smart Contract IDs (Testnet Defaults)
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CDMI23JKHYAH46CTTU4F7ME57PRCZH7FMJJYFZEVPUAD6Y36T3H6OIVQ
NEXT_PUBLIC_DISPUTE_CONTRACT_ID=CD7FXU24BREXPOCI347GK3H6HYXNSJQ3BE3I7M5XEAHWXRB6XG63KVIB
NEXT_PUBLIC_ARBITRATOR_ADDRESS=GAKY5EWWOETAUQQZJPSW3OD5R2N46BE7G24PAHSHLGYLZGTMOLWE7BXT
NEXT_PUBLIC_ESCROW_WASM_HASH=91394c41b75a32ed0a6b60bdedcead1b3ebe41daeb9d35cc41182180318ac83a

# Stellar Network Configuration (local, testnet, mainnet)
STELLAR_NETWORK=testnet

# RentSafe platform admin wallet public address (safe to commit)
RENTSAFE_PLATFORM_ADDRESS=GBKEWLPR74ZPGJV7PGQAEMMKUQ4N35JD4SC23CCHNKYZRKIQA7NSVMKT
