# RentSafe Environment Configuration

# Smart Contract IDs (Testnet Defaults)
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CCFATHQC6KASED4FK3V4IYSTN2ODHFC2AW635BXUD66OLPVICA2WN3AG
NEXT_PUBLIC_DISPUTE_CONTRACT_ID=CAEPHREYA4AFHY3TVFC2PM5ARRAMNHYLJZQOBX6255T5ASEE3BBQ5KHO
NEXT_PUBLIC_ARBITRATOR_ADDRESS=GAKY5EWWOETAUQQZJPSW3OD5R2N46BE7G24PAHSHLGYLZGTMOLWE7BXT
NEXT_PUBLIC_ESCROW_WASM_HASH=91394c41b75a32ed0a6b60bdedcead1b3ebe41daeb9d35cc41182180318ac83a

# Stellar Network Configuration (local, testnet, mainnet)
STELLAR_NETWORK=testnet
